@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Variables*/
:root{
    /*Typography*/
    --primary-font: "Poppins", sans-serif;
    --secondary-font:"Fredoka", sans-serif;
    /* Colour scheme*/
    --primary-color:#3A3A3A; /* dark grey for text*/
    --nav-lg:#34485A;  /* navy colour*/
    --nav-text-color: #FFEAA7;
    --nav-text-hover:#FEF5E7;
    --secondary-color:#6D92A5;

}
body{
    font-family: var(--primary-font);
    color: var(--primary-color);
}
h1{
    font-family: var(--secondary-font);
    color: #34485A;
}
 h2, h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
  }

  .section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#navbar{
    background-color:var(--nav-lg);
}

.logo{
    width: 90px;
    height:auto;
}
/* navnar hover style */
.nav-link {
    color: var(--nav-text-color) !important;
  }
  .nav-link:hover {
    color:var(--nav-text-hover) !important;
  }
  .nav-link.active {
    color:var(--nav-text-hover) !important;
    font-weight: bold;
}
/* Introduction's button styles*/
.btn-secondary {
    background-color: var(--nav-lg);
    color: var(--nav-text-color);
}

.btn-secondary:hover {
    background-color: var(--nav-text-color);
    color: var(--nav-lg);
}

/* Journal's button styles*/
.btn-primary{
    background-color: #E89BAD;
    color:#3A3A3A;
    border: none;
    font-family: var(--secondary-font);
}
.btn-primary:hover{
    transform: rotate(3deg);
    background-color:#6D92A5;
}




/* carousel styles */
#carousel{
    height: auto;
}
.carousel-item img {
   /* max-width:100%;
    height: auto;*/
    height: 100%;       /* make images fill that height */
    width: 100%;        /* keep width full */
    object-fit: cover;
    
  }
/* Styling journal cards*/
  #journal .card{
      border-color:var(--secondary-color);
  }

 #journal .card-title{
      color: var(--secondary-color);
  }
 
/* benefit section styles*/
#benefits .bg-body-tertiary{
    background-color: rgba(254, 245, 231, 0.4) !important;
    color: #34485A;
}
/* create a two column grid*/
.benefits-grid{
    grid-template-columns: 1fr 1fr;
}

#benefits h3 i{
    color: #E89BAD;
    padding-right: 0.5rem;
}



  /*Media queries*/

  @media screen and (min-width: 412px){
    /*make carousel height fixed on a screen of a minimum width of 412px*/
    #carousel{
        height: 214px;
    }
}

/* X-small devices (portrait phones, less than 576px)*/
  @media screen and (max-width: 575.98px){
    /* create a one column grid that will be responsive on a 576 screen or less*/
     .benefits-grid{
        grid-template-columns: 1fr;
     }
}
  /* Medium devices (tablets, 768px and up)*/
  @media screen and (min-width: 768px){
    /*make all journal cards the same height for consistency*/
    #journal .card-text{
        min-height: 143px;
    }
    /*make carousel height fixed on a screen of a minimum width of 768px*/
    #carousel{
        height: 427px;
    }
}
/* Medium devices (tablets, 1024px and up)*/
@media screen and (min-width: 1024px){
    /*make all journal cards the same height for consistency*/
    #journal .card-text{
        min-height: 120px;
    }
    /*make carousel height fixed on a screen of a minimum width of 1024px*/
    #carousel {
        height: 596px;
    }
}
  
  /* Medium devices (tablets, 1200px and up)*/
  @media screen and (min-width: 1200px){
    /*make all journal cards the same height for consistency*/
    #journal .card-text{
        min-height: 192px;
    }
    /*make carousel height fixed on a screen of a minimum width of 1200px*/
    #carousel{
        height: 425px;
    }
  }
  
 

















 